# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts should always use LF
*.sh text eol=lf

# Docker entrypoint and start scripts
entrypoint text eol=lf
start text eol=lf
